<div class="testimonials-container">
    <div class="title-box">
        <h1 class="title"><?php echo $this->__("Testimonials"); ?></h1>
        <?php if(!Mage::getSingleton('customer/session')->isLoggedIn()): ?>
            <!-- not logged in -->
            <div class="box" style="text-align: center">
                <div class="box-content">
                    <h2>
                        <?php echo "Welcome, Guest. "; ?>
                    </h2>
                    <p>You must be logged, so you can add reviews!</p>
                </div>
            </div>
        <?php else: ?>
            <!-- logged in -->
            <div class="submit-form testimonial-form">
                <h4 class="title"><?php echo $this->__('Write your testimonial') ?>:</h4>
                <form id="testimonials-form" action="<?php echo $this->getUrl('testimonials/submit/save/')?>" method="post" enctype="multipart/form-data">
                    <ul class="form-list">

                        <li class="wide">
                            <label class="required" for="title"><em>*</em><?php echo $this->__('Title') ?></label>
                            <div class="input-box">
                                <input type="text" class="input-text required-entry" value="" title="Title" id="title" name="title">
                            </div>
                        </li>
                        <li class="wide">
                            <label class="required" for="content"><em>*</em>Content</label>
                            <div class="input-box">
                                <textarea rows="3" cols="5" class="required-entry input-text" title="Content" id="content" name="content"></textarea>
                            </div>
                        </li>
                    </ul>
                    <div class="box-actions">
                        <p class="required">* Required Fields</p>
                        <button class="button" title="Send" type="submit">
                            <span><span><?php echo $this->__('Send') ?></span></span>
                        </button>
                        <button class="button" title="Reset" type="reset">
                            <span><span><?php echo $this->__('Reset') ?></span></span>
                        </button>
                    </div>
                </form>
            </div>
            <script type="text/javascript">

                //<![CDATA[
                var contactForm = new VarienForm('testimonials-form', true);
                //]]>
            </script>
        <?php endif;?>
    </div>
    <div style="padding: 50px 0px;"><?php echo $this->getPagerHtml() ?></div>
    <div class="testimonials">
        <?php $testimonials = $this->getTestimonials();?>
        <?php if (!$testimonials->count()): ?>
            <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
        <?php else: $i=0;?>
            <?php foreach ($testimonials as $testimonial): ?>
                    <div id="testimonial_<?php echo $i++ ?>" style="border: inset 1px;">
                        <div style=" margin: 20px 20px;">
                        <h4><?php echo $testimonial->getTitle(); ?></h4>
                        <div class="testimonial-text">
                            <?php echo $testimonial->getContent(); ?>
                            <div class="author">
                                    <p><?php echo $testimonial->getEmail() ?>
                                    <span style="float: right"><?php echo $testimonial->getCreated() ?> -
                                <?php echo $testimonial->getName(); ?></span></p>
                            </div>
                        </div>
                        </div>
                    </div><br>
                <?php endforeach; ?>
        <?php endif;?>
    </div>
</div>
